<div class="sidetitle" id="titlechart" title="Cliquer pour masquer/afficher la section">
    Graphes de la trace
</div>
<div class="sidegroup">
    <a id="toggle_plot_data" class="sidegroup" href="">afficher la vitesse</a>
    <span id="order_num">order num </span>
    <div class="help"
         title="Survoler la courbe pour afficher un marqueur dans la carte. Sélectionner une portion de parcours pour zoomer la carte sur la portion. Double cliquer pour dézoomer. "
         style="display: inline; float: right; cursor:pointer;">(?)
    </div>
    <div id="chartdiv"></div>
</div>
