{% if closest_tracks %}
<ul>
    {% for trace, dist in closest_tracks %}
    <li>
            <a class="a_track" href="/trace/{{ trace.id }}"> {{ trace.name }} </a> à {{ dist|floatformat:1 }} km
            <span id="trace_{{ trace.id }}" onclick="addTrack({{ trace.id }})" class="add_track" title="ajouter à la carte courante"> (+show) </span>
            <span id="seg_{{ trace.id }}" onclick="getMatchingPoints({{ tr_id }},{{ trace.id }})" class="add_track" title="rechercher les segments communs"> (+match) </span>
   {% endfor %}
</ul>
{% else %}
Pas de traces assez proches
{% endif %}


