{% load replace %}
    <div class="section_title hideshow" id="titleinfo" title="Cliquer pour masquer/afficher la section">
        par km </div>
    <div id="tracklaps" class="section_group hidden">
    <table class="traceinfotable">
        <tr>
            <th class="traceinfotable bold"></th>
            <th class="traceinfotable bold">temps</th>
            <th class="traceinfotable bold">allure (/km)</th>
            <th class="traceinfotable bold">vitesse (km/h)</th>
            <th class="traceinfotable bold">BPM</th>
        </tr>
    {% for l in laps %}
        <tr>
            <td class="traceinfotable bold simple-link" onclick="trackZoom(mainmap,'{{ l.0 }}',track,{{ l.1.start }},{{ l.1.end }},true)"  onmouseover="drawTrackPart(mainmap,'{{ l.0 }}',track,{{ l.1.start }},{{ l.1.end }},false)">{{ l.0 }}</td>
            <td class="traceinfotable">{{ l.1.seconds|formattime }}</td>
            <td class="traceinfotable">{{ l.1.allure|formattime }}</td>
            <td class="traceinfotable">{{ l.1.speed|floatformat:1}}</td>
            <td class="traceinfotable">{{ l.1.heartrate|floatformat:0}}</td>
        </tr>
    {% endfor %}

    </table>

    </div>

