
    <div class="sidetitle hideshow" id="titleinfo" title="Cliquer pour masquer/afficher la section">
        <div class="trace_title">
            {{ trace.name }} ({{ distance }} le {{ trace.ctime|date:"d/m/Y" }})
        </div>
        <div class="trace_subtitle">
        </div>
    </div>
    <div id="trackinfo" class="sidegroup">
        <div class="bold">{{ type }} par {{ trace.user }} <br /> de {{ depart }} à {{ arrivee }}</div>

    <a href="/trace/{{ trace.id }}.gpx">(GPX)</a>

    <div class="track_section">
        Description: <span class="italic">{{ description }}</span>
    </div>
    <div class="track_section">
        En passant par ou près de:
        <span class="italic"> {{ vias }} </span>
    </div>
    </div>

