{% extends "gps/base.html" %}
{% block page_title %} {{ trace.name }} {% endblock page_title %}
{% block title %} Visualisation de la trace: &laquo;{{ trace.name }}&raquo; {% endblock title %}
{% comment %}{% block js_plot %}
<script type="text/javascript" src="/static/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.cursor.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css"/>{% endblock js_plot %}{% endcomment %}
{% block js %}
    {{ block.super }}
    {% if maptype == "ign" %}
        <script type="text/javascript" src="http://api.ign.fr/geoportail/api/js/2.0/Geoportal.js"></script>
    {% elif maptype == "oli" %}
        <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    {% endif %}
        <script type="text/javascript"> var track_id = {{ num }}</script>
    {% comment %}<script type="text/javascript" src="/static/js/gps/ajax.js"></script>
    <script type="text/javascript" src="/static/js/gps/maps.js"></script>
<script type="text/javascript" src="/static/js/gps/plot.js"></script>
<script type="text/javascript" src="/static/js/gps/trace.js"></script>{% endcomment %}
{% endblock js %}
{% block content %}
    {% block main_map %}
        <div id="map_canvas"></div>
    {% endblock main_map %}
    <div id="charts">{% include "gps/chart.html" %}</div>
{% endblock content %}

{% block sidebar %}
    {% include "gps/traceinfo.html" %}

    <div id="tracetabs">
        {% include "gps/tracetabs.html" %}
    </div>

    <div id="tracelaps">
        {% include "gps/tracelaps.html" %}
    </div>
    <div id="tracestatistics">
        {% include "gps/tracestats.html" %}
    </div>


    <div class="sidetitle hideshow" id="nearby_title" title="Cliquer pour masquer/afficher la section">
        Près d'ici
    </div>
    <div id="nearby_content" class="section_group hidden">
        {% include "gps/nearby.html" %}
    </div>

    <div id="nav">
        {% include "gps/nav.html" %}
    </div>
{% endblock sidebar%}
