{% load replace %}
    <div class="sidetitle hideshow" id="titleinfo" title="Cliquer pour masquer/afficher la section">
        Meilleurs segments    </div>
    <div id="trackstats" class="sidegroup">
    <table class="traceinfotable">
        <tr>
            <th class="traceinfotable bold">best</th>
            <th class="traceinfotable bold">temps</th>
            <th class="traceinfotable bold">allure (/km)</th>
            <th class="traceinfotable bold">vitesse (km/h)</th>
        </tr>
    {% for s in bests %}
        <tr>
            <td class="traceinfotable bold simple-link" onclick="drawTrackPart(mainmap,'{{ s.0 }}',track,{{ s.1.start }},{{ s.1.end }},true)"  onmouseover="drawTrackPart(mainmap,'{{ s.0 }}',track,{{ s.1.start }},{{ s.1.end }},false)">{{ s.0 }}</td>
            <td class="traceinfotable">{{ s.1.seconds|formattime }}</td>
            <td class="traceinfotable">{{ s.1.allure|formattime }}</td>
            <td class="traceinfotable">{{ s.1.speed|floatformat:1}}</td>
        </tr>
    {% endfor %}

    </table>

    </div>

