<div class="sidetitle hideshow" title="Cliquer pour masquer/afficher la section">Tableaux
</div>
<div class="track_section">
    <table class="traceinfotable">
        <tr>
            <th class="traceinfotable bold"></th>
            <th class="traceinfotable bold">{{ trace.name }}</th>
        </tr>
        <tr>
            <td class="traceinfotable bold">Distance (km)</td>
            <td class="traceinfotable">{{ distance }}</td>
        </tr><tr>
        <td class="traceinfotable bold">Durée totale </td>
        <td class="traceinfotable">{{ total_time }}</td>
    </tr>
        <tr>
            <td class="traceinfotable bold">Vitesse moyenne (km/h)</td>
            <td class="traceinfotable">{{ avg_speed }}</td>
        </tr><tr>
        <td class="traceinfotable bold">Vitesse max (km/h)</td>
        <td class="traceinfotable">{{ max_speed }}</td>
    </tr>
        <tr>
            <td class="traceinfotable bold">Altitude Min (m)</td>
            <td class="traceinfotable">{{ ele_min }}</td>
        </tr><tr>
        <td class="traceinfotable bold">Altitude Max (m)</td>
        <td class="traceinfotable">{{ ele_max }}</td>
    </tr>
        <tr>
            <td class="traceinfotable bold">Amplitude Alt (m)</td>
            <td class="traceinfotable">{{ ele_amplitude }}</td>
        </tr><tr>
        <td class="traceinfotable bold">Dénivelé + (m)</td>
        <td class="traceinfotable">{{ ele_deniv }}</td>
    </tr>
    </table>
</div>
