<div class="section_title hideshow" id="titleinfo" title="Cliquer pour masquer/afficher la section">
        <div class="trace_title">
            {{ trace.name }} ({{ stats.dist|floatformat:0 }}km le {{ trace.tdate|date:"d/m/Y" }})
        </div>
        <div class="trace_subtitle">
        </div>
    </div>
    <div id="trackinfo" class="section_group">
        <div class="bold inline">{{ trace.type }} par {{ trace.user }} <br /> de {{ properties.depart.0 }} à {{ properties.arrivee.0 }}</div>
        <a class= "right" href="/trace/{{ trace.id }}.gpx">(GPX)</a>
        <a class= "right" href="/edit/{{ trace.id }}">Modifier </a>
    <div class="track_section">
        Description: <span class="italic">{{ properties.description.0 }}</span>
    </div>
    <div class="track_section">
        En passant par ou près de:
        <span class="italic"> {{ properties.vias.0 }} </span>
    </div>
    </div>

