{% load replace %}
    <div class="sidetitle hideshow" id="titleinfo" title="Cliquer pour masquer/afficher la section">
        statistiques de la trace
    </div>
    <div id="trackstats" class="sidegroup">

    <table class="traceinfotable">
        <tr>
            <th class="traceinfotable bold">best</th>
            <th class="traceinfotable bold">temps</th>
            <th class="traceinfotable bold">allure (/km)</th>
            <th class="traceinfotable bold">vitesse (km/h)</th>
        </tr>
    {% for s in stats %}
        <tr>
            <td class="traceinfotable bold">{{ s.0 }}</td>
            <td class="traceinfotable">{{ s.1.seconds|formattime }}</td>
            <td class="traceinfotable">{{ s.1.allure|formattime }}</td>
            <td class="traceinfotable">{{ s.1.speed|floatformat:2}}</td>
        </tr>
    {% endfor %}

    </table>

    </div>

