{% extends "gps/base.html" %}
{% block js_plot %}
<script type="text/javascript" src="/static/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/plugins/jqplot.cursor.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css"/>{% endblock js_plot %}
{% block js_maps %}
{% if maptype == "ign" %}
<script type="text/javascript" src="http://api.ign.fr/geoportail/api/js/2.0/Geoportal.js">
</script>
{% else %}
<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% endif %}

<script type="text/javascript" src="/static/js/gps/ajax.js"></script>
<script type="text/javascript" src="/static/js/gps/maps.js"></script>
<script type="text/javascript" src="/static/js/gps/plot.js"></script>
<script type="text/javascript" src="/js/trace_{{ maptype }}_{{ num }}.js"></script>
{% endblock js_maps %}
{% block sidebar %}
{% include "gps/traceinfo.html" %}
{% include "gps/chart.html" %}
<div class="sidetitle" id="nearby_title" title="Cliquer pour masquer/afficher la section">
    Près d'ici
</div>
<div id="nearby_content" class="sidegroup" style="display:none">
    {% include "gps/nearby.html" %}
</div>
{% include "gps/modifications.html" %}
{% endblock sidebar%}
{% block content %}
{% block main_map %}
<div id="map_canvas"></div>
<div id="msg_info">{{ maptype }}</div>
{% endblock main_map %}
{% endblock content %}
