{% extends "gps/base.html" %}
{% block page_title %}
Charger un nouvelle trace
{% endblock page_title %}

{% block js_maps %}

{% endblock js_maps %}
{% block title %}
Charger une nouvelle trace
{% endblock title %}

{% block sidebar %}
{% endblock sidebar%}
{% block content %}
<div class="user_message">
    <p>Vous pouvez ici déposer vos fichiers de trace gpx
    </p>
    <p>Commencez par charger le fichier, vous pourrez ensuite saisir un titre et une description.
    </p>
</div>
<div class="centered form  upload" >
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="upload_form"> {{ upload_form.fichier }}
            <input type="submit" value="Envoyer"/>
        </div>

    </form>
</div>
{% block main_map %}

{% endblock main_map %}
{% endblock content %}
