{% extends "gps/base.html" %}
{% block page_title %}
Charger un nouvelle trace
{% endblock page_title %}

{% block js_maps %}

{% endblock js_maps %}
{% block title %}
Charger une nouvelle trace
{% endblock title %}

{% block sidebar %}
Charger un fichier de trace. Les formats acceptés sont: bla bla bla, bla bla bla...
{% endblock sidebar%}
{% block content %}
<div id="text_content">
    <p>Vous pouvez ici déposer vos fichiers de trace gpx (ou fichier kml Mercury 100 uniquement)
    </p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="upload_form">
            <table>
                {{ upload_form.as_table }}
                <tr>
                    <td><input type="submit" value="Envoyer"/></td>
                </tr>
            </table>
        </div>

    </form>
</div>
{% block main_map %}

{% endblock main_map %}
{% endblock content %}
