{% extends "gps/base.html" %}
{% load replace %}
{% block title %}
Mes performances
{% endblock %}
{% block content %}
<h1>
Mes performances
</h1>
<table class="performances" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th>Activité</th>
        <th>trace</th>
        <th>Type</th>
        <th>Temps</th>
        <th>Allure</th>
    </tr>
    {% for resultat in resultats %}
    <tr class="{% cycle odd,even %}">
        <td>{{ forloop.counter }}</td>
        <td><a href="/trace/{{ resultat.id }}?recherche={{ criteria }}">{{ resultat.type }}</a></td>
        <td><a href="/trace/{{ resultat.id }}?recherche={{ criteria }}">{{ resultat.id }}</a></td>
        </td>
        <td>
            <a href="/trace/{{ resultat.id }}?recherche={{ criteria }}">
                {% for p in resultat.properties %} ({{ p.value|boldify:criteria|safe }}) {% endfor %}
            </a>
        </td>
    </tr>
    {% endfor %}

</table>

{% block sidebar_intro %}
{% endblock sidebar_intro %}
{% endblock content %}

