/*Base */
html{
    width:100%;
    height:100%;
}
body{
    font-family: sans-serif;
    overflow-y:scroll;
    width:100%;
    height:100%;
    margin:0px;
}

a{
    text-decoration: none;
}

/* ENTETE */
#header{
    height:60px;
     background: -moz-linear-gradient(top,#CFCFCF,white);
    background: -webkit-gradient(linear, center bottom, center top, from(white), to(#CFCFCF));
    border: 1px solid;
    border-color: #CFCFCF;
}

#content {
    height: 100%;
    width:100%;
}

#title {
    float:left;
    margin:5px;
    margin-bottom: 7px;
    font-size:27px;
    font-weight: bold;
    text-decoration: none;
    #background-image:url("/static/img/serpentine.jpg");
    z-index:200;
}

#quick_search{
     float: right;
    margin-top: -6px;
    margin-right: 2px;
}
#subtitle{
    font-size: 12pt;
    float: right;
    margin: 10px 10px 0px 0px;
}

#under_header{
    clear: both;
    float:left;
    margin:0px;
    padding:0px;
    width: 100%;
    font-size: 12px;
}

/** MENU  **/

#main_menu a{
 width: 100%;
 height: 16px;
 display: inline-block;
}

#main_menu ul{
    margin: 0px;
    padding:0px;
}

#main_menu li {
    float: left;
    display: inline-block;
    text-decoration: none;
    width: 110px;
    padding-top:2px;
    border-top:1px solid;
    border-right: 1px solid;
    border-color: #CFCFCF;
    list-style-type:none;
    text-align: center;
    padding:0px;
    margin:0px;
}
#main_menu li:hover{
    background-color: #CCCCCC;
}

/* Hello */
.hello {
    float: right;
    font-size: 12px;
    margin-right: 10px;
}

/*********************/
/* Contenu principal */
/*********************/


#main_content{
    width:100%;
    float: left;
}
.main_text{
    margin: auto;
    width:100%;
    margin-top: 10px;
}

/***********/
/* Sidebar */
/***********/

#sidebar{
    float: right;
}

/**************/
/** Sections **/

.section_title{
    padding-top: 0px;
    border: 1px solid;
    border-color: #CFCFCF;
    cursor: pointer;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-top: 0px;
    background: -moz-linear-gradient(top,white, #CFCFCF);
    background: -webkit-gradient(linear, center bottom, center top, from(#CFCFCF), to(white));
    font-weight:bold;
}
.section_title:hover{
    background-color: gray;
    color: red;
}

.section_group {
    padding: 3px;
}
.section_group ul {
    margin: 0px;
    padding: 0px;
    display: inline;
}
.section_group ul li {
    display: block;
}

/******************/
/*** page upload **/
/******************/

.upload {
    margin-top: 20px;
}

/**********/
/* Divers */
/**********/

.user_message{
    border: 2px solid red;
    background-color: aliceblue;
    margin: auto;
    margin-top:10px;
    width: 90%;
    padding: 20px;
}

/** W3C **/
#w3c{
    clear: both;
    font-size:8pt;
    float:right;
}

/********************/
/** styles simples **/
/********************/

.hidden {
    display: none;
}

.linear_gradient_down{
}

.centered{
    margin:auto;
    width:100%;
    text-align: center;
}

.vertical100{
    float:right;
    height:100%;
    width: 12px;
    text-align: center;
    background-color: #DDDDDD;
}