<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta id="viewport" name="viewport" content="width=device-width"/>
    <!--content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">-->
    <title>Serpentine-GPS {% block page_title %} visualiser, éditer et partager des traces GPS{% endblock %} version
        pour les mobiles</title>
    {% block style %}
    <link href="/static/css/m_style.css" rel="stylesheet" type="text/css"></link>
    {% endblock style %}
    {% block js_base %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/static/js/gps/base.js"></script>
    {% endblock js_base %}
    {% block js_plot %}{% endblock js_plot %}
    {% block js_maps %}{% endblock js_maps %}
</head>
<body>
<div id="header">
    {% block header %}<a href="/">Serpentine-GPS </a> - mobiles{% endblock header %}
</div>
<div id="menu">
    {% block menu %}
    <div id="menu">


        Parcours GPS
        <form method="get" id="quicksearch" action="/recherche">
            <div class="search_input">
                {{ quick_search_form.recherche }}
                <!--<input type="submit" name="searchsubmit" value="GO" />-->
            </div>
        </form>

    </div>

    {% endblock menu %}

</div>
<div id="content">
    {% block content %}
    {% include "gps/nav.html" %}
    {% endblock content %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock footer %}
</div>
</body>
</html>
