<div class="sidetitle" id="titleinfo" title="Cliquer pour masquer/afficher la section">
    <div class="trace_title">
        {{ trace.name }}
    </div>
</div>
<div id="trackinfo" class="sidegroup">
    {% if trace %}

    <div class="tracktype"> {% if type %} Parcours de {{ type }} {% endif %}
    </div>
    {{ trace.ctime|date:"d/m/Y" }} par {{ trace.user }}:
    <div class="trackdescription">
        {{ description }}
    </div>
    <table class="traceinfotable">
        <tr>
            <td class="traceinfotable">Distance</td>
            <td class="traceinfotable">{{ distance }}</td>
            <td class="traceinfotable">Durée totale</td>
            <td class="traceinfotable">{{ total_time }}</td>
        </tr>
        <tr>
            <td class="traceinfotable">Vitesse moyenne</td>
            <td class="traceinfotable">{{ avg_speed }}</td>
            <td class="traceinfotable">Vitesse max</td>
            <td class="traceinfotable">{{ max_speed }}</td>
        </tr>
        <tr>
            <td class="traceinfotable">Altitude Min</td>
            <td class="traceinfotable">{{ ele_min }}</td>
            <td class="traceinfotable">Altitude Max</td>
            <td class="traceinfotable">{{ ele_max }}</td>
        </tr>
        <tr>
            <td class="traceinfotable">Amplitude Alt</td>
            <td class="traceinfotable">{{ ele_amplitude }}</td>
            <td class="traceinfotable">Dénivelé +</td>
            <td class="traceinfotable">{{ ele_deniv }}</td>
        </tr>
    </table>
    {% else %}
    {% endif %}
</div>
<div class="sidetitle" title="Cliquer pour afficher/masquer la section"> Informations geonames</div>
<div id="info_geonames" class="sidegroup" style="display:none">
    De {{ depart }} à {{ arrivee }}<br/>
    <br/>
    En passant par ou près de: <br/>
    {{ vias }}
</div>
